## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vscode/
.vs/
*.dbmdl
*.pdb
*.cache
*.log
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
packages/
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Others
*.sql
*.sqlite
*.mdf
*.ldf
*.bak
