<mat-sidenav-container class="app-container">
  <mat-sidenav #s sidenav mode="side" opened>
    <div class="user-info">
      <mat-icon>person</mat-icon>
      <span>{{ auth.isLoggedIn() ? auth.getUsername() : 'Гість' }}</span>
    </div>
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let i of visibleNav"
         [routerLink]="i.route"
         (click)="s.toggle()">
        <mat-icon>{{ i.icon }}</mat-icon>
        <span>{{ i.label }}</span>
      </a>
    </mat-nav-list>
    <button mat-icon-button class="toggle" (click)="s.toggle()">
      <mat-icon>{{ s.opened ? 'chevron_left':'chevron_right' }}</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="s.toggle()"><mat-icon>menu</mat-icon></button>
      <span>{{ appName }}</span>
      <span class="spacer"></span>
      <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">Увійти</button>
      <button mat-button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Вийти</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
