<aside class="side-menu" [class.side-menu--collapsed]="collapsed()">
  <div class="side-menu__header">
    <span class="side-menu__username">{{ userName }}</span>
    <button class="side-menu__toggle-btn" (click)="toggle()" aria-label="Toggle menu">
      <lucide-icon [name]="toggleIcon" class="side-menu__toggle-icon"></lucide-icon>
    </button>
  </div>

  <nav class="side-menu__nav">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.path"
      routerLinkActive="side-menu__nav-item--active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="side-menu__nav-item"
    >
      <lucide-icon [name]="item.icon" class="side-menu__nav-icon"></lucide-icon>
      <span class="side-menu__nav-label">{{ item.label }}</span>
    </a>
  </nav>

  @if (isUserLogged) {
    <button class="side-menu__bottom-button" (click)="logout()" aria-label="Log out">
        <lucide-icon name="logOut" class="side-menu__nav-icon"></lucide-icon>
        <span class="side-menu__nav-label">Вийти</span>
    </button>
  } @else {
    <button class="side-menu__bottom-button" (click)="openLoginDialog()" aria-label="Log in">
        <lucide-icon name="log-in" class="side-menu__nav-icon"></lucide-icon>
        <span class="side-menu__nav-label">Увійти</span>
    </button>
  }
</aside>

